@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto Slab", serif;
}

.c-pad{
  padding: 3rem 3rem 3rem 0;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

@media (max-width:767px){
  .left{
  
    border: unset;
  }
  .c-pad{
    padding: 20px;
  }
  
  
  }
  /* .custom-checkbox {
    
    border: 1px solid cyan;  
     
    outline: none;  
    cursor: pointer;
  }
  
   .custom-checkbox:checked {
     border-color: cyan;  
  } */
  
   
  
   /* .error-message{color: red;} */
